/.bundle/
/.gem-test/
/.tmp/
/*.gem
/Makefile
/mkmf.log
/ext/page_print/Makefile
/ext/page_print/mkmf.log
/ext/page_print/*.bundle
/ext/page_print/*.o
/lib/page_print/*.bundle
/lib/page_print/*.so
/pkg/
/tmp/
/.ruby-lsp/
